<div class="container">
    <div class="p-2 pt-5 p-md-5">
        <div class="card mx-md-5">

            <div class="text-center my-4">
                <h2>مرحبا بك</h2>
            </div>

            <p style="color: lightslategray; text-align: center; margin-top: 10px">
                أدخل معلومات حسابك
            </p>
            <form class="m-4" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">




                <label class="fw-bold" for="">كود التحقق :</label>
                <input formControlName="code" [ngClass]="{'is-valid':resetPasswordForm.get('code')?.valid}" type="code"
                    class="form-control mb-3">
                <div *ngIf="resetPasswordForm.get('code')?.errors && resetPasswordForm.get('code')?.dirty"
                    class="alert alert-danger p-1">
                    <p *ngIf="resetPasswordForm.get('code')?.getError('required')" class="m-0">يجب إدخال كود التحقق</p>
                </div>


                <label class="fw-bold" for="">كلمة السر :</label>
                <input formControlName="password" [ngClass]="{'is-valid':resetPasswordForm.get('password')?.valid}"
                    type="password" class="form-control mb-3">
                <div *ngIf="resetPasswordForm.get('password')?.errors && resetPasswordForm.get('password')?.dirty"
                    class="alert alert-danger p-1">
                    <p *ngIf="resetPasswordForm.get('password')?.getError('required')" class="m-0">يجب إدخال كلمة السر
                    </p>
                    <p *ngIf="resetPasswordForm.get('password')?.getError('pattern')" class="m-0">
                        كلمة السر يجب أن تكون بين 6-20 محرف تتضمن محارف كبيرة وصغيرة ورموز 
                    </p>
                </div>


                <label class="fw-bold" for="">تأكيد كلمة السر : </label>
                <input formControlName="ConfirmPassword"
                    [ngClass]="{'is-valid':resetPasswordForm.get('ConfirmPassword')?.valid}" type="password"
                    class="form-control mb-3">
                <div *ngIf="resetPasswordForm.get('ConfirmPassword')?.errors && resetPasswordForm.get('ConfirmPassword')?.dirty"
                    class="alert alert-danger p-1">
                    <p *ngIf="resetPasswordForm.get('ConfirmPassword')?.getError('required')" class="m-0">
                        يجب إدخال تأكيد كلمة السر
                    </p>
                    <p *ngIf="resetPasswordForm.get('ConfirmPassword')?.getError('math')" class="m-0">
                        كلمة السر وتأكيدها غير متطابقين    
                    </p>
                </div>

                <button [disabled]="this.resetPasswordForm.invalid" type="submit"
                    class="btn background-MainColor w-100">
                    <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>

                    <span *ngIf="!isLoading">تأكيد</span>
                </button>



            </form>
            <div class="card-footer text-right">
                هل لديك بالفعل حساب ؟
                <span class="link m-1" [routerLink]="['../Login']">تسجيل الدخول</span>
            </div>
        </div>

    </div>
</div>