<div class="col-12 row">
    <div class="col-8 mt-2">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive background-table">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Role</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users | paginate: { itemsPerPage: 50, currentPage: currentPage, totalItems: totalItems, id: 'User' }"
                                (click)="selectUser(user)">
                                <td>{{ user.userName }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.roles }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls class="m-auto" (pageChange)="pageChanged($event)"
                        [routerLink]="['/Admin/User']" [queryParams]="{ currentPage: currentPage }" id="User">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>

    <div class="col-4 mt-2">

        <div class="card">
            <div class="card-body">
                <div>
                    <h5 style="font-weight: 700;">Permissions Settings</h5>
                </div>
                <div class="form-group">
                    <label for="userSelect" class="m-3"> Selected User:</label>
                    <span>{{selectedUser}}</span>
                </div>
                <div class="form-group">
                    <label for="roleSelect" class="m-3">Select Role: </label>
                    <select id="roleSelect" [(ngModel)]="selectedRole">
                        <option *ngFor="let role of roles" [ngValue]="role.id">{{ role.name }}</option>
                    </select>
                </div>
                <button class="btn btn-primary m-3" (click)="addRole()">Add Role</button>
                <button class="btn btn-danger" (click)="deleteRole()">Delete Role</button>
            </div>
        </div>
    </div>
</div>
