.forgotPassword {
  max-width: 500px;
}
* {
  border-radius: 0;
}


.link {
  color: rgb(46, 173, 195);
  cursor: pointer;
  text-decoration: underline;
}

.fa-spinner {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
