.link {
    color: rgb(46, 173, 195);
    cursor: pointer;
    text-decoration: underline;
  }
  
  .fa-spinner {
    animation: rotate 2s linear infinite;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }