<div *ngIf="isModalOpen">
  <ngx-patients-form (closeModal)="closeModal()"></ngx-patients-form>
</div>

<div class="card">
  <ngx-patients-filter (searchFilters)="search($event)"></ngx-patients-filter>
  <div class="card-bady">
    <div class="card-bady">
      <div class="table-responsive background-table">
        <button class="openModal" [routerLink]="['./']" [queryParams]="{ add: 'true' }">
          Add
        </button>
        <ngx-xlsx [elementId]="'table-paginate'"></ngx-xlsx>

        <table class="table table-light table-hover" id="table-paginate">
          <thead>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Region</th>
            <th>Gender</th>
            <th>Date of Birth</th>
          </thead>
          <tbody>
            <tr *ngFor="
                  let patient of patients
                    | paginate: {
                        itemsPerPage: pageSize,
                        currentPage: currentPage,
                        totalItems: totalItems,
                        id: 'patients'
                      }
                ">
              <td>{{ patient.firstName }}</td>
              <td>{{ patient.lastName }}</td>
              <td>{{ patient.region }}</td>
              <td>{{ patient.gender}}</td>
              <td>{{ patient.dateOfBirth | date }}</td>
              <td>
                <i class="fas fa-trash-alt" (click)="deletePatient(patient.patientId)"></i>
              </td>
              <td>
                <i class="fas fa-info" [routerLink]="[patient.patientId, 'details']"></i>
              </td>
              <td>
                <i class="fas fa-pen" [routerLink]="['.']" [queryParams]="{ edit: patient.patientId }"
                  queryParamsHandling="merge"></i>
              </td>
            </tr>
          </tbody>
        </table>

        <pagination-controls (pageChange)="pageChanged($event)" id="patients" [routerLink]="'/patient'"
          [queryParams]="{ currentPage: currentPage }"></pagination-controls>
      </div>
    </div>
  </div>
</div>
